{% extends 'admin/base.html' %}

{% block title %} Mis Usuarios {% endblock %}

{% block content %}
<div class="content-view-admin">
    <div class="container">
        <div class="container-title">
            <a href={% url 'index' %}><i class='bx bx-left-arrow-alt'></i>volver</a>
            <h1>Usuarios</h1>
        </div>
        <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">USERNAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">TIPO USUARIO</th>
                    <th scope="col">ACTIVIDAD</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            {% for usuario in usuarios %}
            <tbody>
                <tr>
                    <td> {{ usuario.id }} </td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    {# Conditional if the user is superuser or not #}
                    {% if usuario.is_superuser == True %}
                    <td> Administrador </td>
                    {% else %}
                    <td> Usuario </td>
                    {% endif %}
                    {# Conditional if the user is active or not #}
                    {% if usuario.is_active == True %}
                    <td>Activo</td>
                    {% else %}
                    <td>Inactivo</td>
                    {% endif %}
                    <td>
                        <a href={% url 'editar_usuario' usuario.id %} class="btn btn-primary gap-2">Editar</a>
                        <form method="POST" action="{% url 'eliminar_usuario' usuario.id %}">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('¿Estás seguro de eliminar este usuario?');" class="btn btn-danger gap-2">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}