{% extends 'user/base.html' %}

{% block title %} Iniciar sesion {% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="body-login-content">
        <div class="login-content">
            <form action="" method="post">
                {% csrf_token %}
                <h1>Iniciar Sesión</h1>
                <div class="input-content">
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-content">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="remember-forgot-content">
                    <label><input type="checkbox">Recuerdame</label>
                    <a href={% url 'reset_password' %}>¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit" class="btn-login-signup">Iniciar Sesión</button>
                <div class="register-content">
                    <p>¿No tienes una cuenta? <a href={% url 'register' %}>Registrate</a></p>
                </div>
            </form>
            {% if form.errors %}
            <div class="login-errors">
                <p>Nombre de Usuario o contraseña incorrectos</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
<!-- Content of Footer -->
{% block footer %}
{% endblock %}