{% extends 'user/base.html' %}

{% block title %} Cambiar contraseña {% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<div class="body-recover-content">
    <div class="login-content">
        <form action="" method="#">
            {% csrf_token %}
            <h1>Recuperar contraseña</h1>
            <div class="input-content">
                <input type="text" id="username" name="username" placeholder="Correo electronico" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <button type="submit" class="btn-login-signup">Enviar Correo</button>
            <div class="register-content">
                <p>¿Tienes una cuenta? <a href={% url 'login' %}>Iniciar Sesión</a></p>
            </div>
        </form>
        {% if form.errors %}
        <div class="login-errors">
            <p>Se envio la contraseña al correo electronico</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}