<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Style of css -->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/user/estilos.css' %}">
    <!-- Icon of the page -->
    <link rel="icon" href="../../static/img/user/lord-anime-ico.ico" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!--  Content of Header -->
    {% block menu %}
    <header class="header">
        <nav class="navbar navbar-expand-xl navbar-color">
            <div class="container-fluid content-navbar p-1">
                <a class="navbar-brand fs-5" href={% url 'index' %}><img src="../../static/img/user/lord-anime.png" class="navbar-logo" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active a-active navbar-margin fs-5" aria-current="page" href={% url 'index' %}><i class='bx bxs-home-alt-2'></i>Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-nav navbar-margin fs-5" href="#">Anime</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-nav navbar-margin fs-5" href="#">En Emision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-nav navbar-margin fs-5" href="#">Calendario</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                            <a class="btn me-md-2 btn-perfil" href={% url 'profile' %}>Mi perfil</a>
                            <a class="btn me-md-2 btn-logout" href={% url 'exit' %}>Cerrar Sesión</a>
                            {% else %}
                            <a class="btn me-md-2 btn-login" href={% url 'login' %}>Iniciar Sesión</a>
                            <a class="btn me-md-2 btn-register" href={% url 'register' %}>Registrarse</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <nav class="navbar ms-auto">
                        <form class="d-flex" role="search">
                            <div class="input-group">
                                <input class="form-control input-search" type="search" placeholder="Buscar un Anime..."
                                    aria-label="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="submit"><i class='bx bx-search-alt-2'></i></button>
                                </span>
                            </div>
                        </form>
                    </nav>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}
    <!-- Content of Main -->
    {% block content %}
    {% endblock %}
    <!-- Content of Footer -->
    {% block footer %}
    <footer>
        <div class="container">
            <div class="footer-content">
                <p>Desarrollado por Takanashi</p>
                <p>&copy; 2023 | Lord Anime</p>
            </div>
        </div>
    </footer>
    {% endblock %}
    <!-- Content of Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Custom Boxicons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- configuration redirection URL -->
    <script src="{% static 'js/redirect.js' %}" defer></script>
</body>

</html>