{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div>
        <ul>
            <li> <a href={% url 'index' %}> Inicio </a></li>
            {% if request.user.is_authenticated %}
            <li> <a href={% url 'exit' %}> Cerrar sesion </a></li>
            {% else %}
            <li> <a href={% url 'login' %}> Iniciar sesion </a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}

    {% endblock %}
</body>

</html>