/*----- Style of all the Document -----*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light';
}

:root {
    scroll-behavior: smooth;
}/*----- Content of Header -----*/
.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.content-navbar {
    width: 95%; /* space for the bar of navegation */
}

.navbar-color {
    background: #667EEA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #667EEA 0%, #C814FF 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667EEA 0%, #C814FF 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.a-active {
    color: #000000;
    -webkit-transition: all .3s ease;
}

.a-nav {
    color: #ffffff;
    -webkit-transition: all .3s ease;
}

.a-nav:hover {
    color: #000000;
}

.navbar-margin {
    margin: 0 10px 0 0;
}

.btn-login {
    background: rgba(115, 3, 192, 0.5);
    color: #FFFFFF;
    width: 150px;
    height: 35px;
    border: none;
    outline: none;
    padding: auto;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -webkit-transition: all .5s ease-in-out;
}

.btn-login:hover {
    background: rgba(236, 56, 188, 0.6);
    color: #FFFFFF;
    -webkit-transition: all .5s ease;
}

.btn-register {
    background: rgba(236, 56, 188, 0.6);
    color: #FFFFFF;
    width: 150px;
    height: 35px;
    outline: none;
    border: none;
    padding: auto;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -webkit-transition: all .5s ease-in-out;
}

.btn-register:hover {
    background: rgba(115, 3, 192, 0.5);
    color: #FFFFFF;
    -webkit-transform: all.5s ease;
}

.input-search {
    background: rgba(216, 181, 255, 0.5);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn-search {
    background-color: rgba(161, 140, 209, 1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.btn-search:hover {
    background-color: #A18CD1;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.input-search:focus {
    background: rgba(216, 181, 255, 0.7);
}