/*----- Style of all the Document -----*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light';
}

:root {
    scroll-behavior: smooth;
}

/*----- Style of the Body -----*/
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*----- Style of the Admin Content -----*/
.body-admin-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, hsla(0, 0%, 0%, 0.3) 100%), url(../../img/admin/admin-fond.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.body-admin-content h1{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 10px #00ccff, 0 0 20px #0088ff;
    backdrop-filter: blur(1px);
}

.admin-content {
    width: 800px;
    height: 400px;
    color: #000000;
    border-radius: 10px;
    padding: 70px 80px;
}

.admin-content .button-content {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    position: absolute;
    display: grid; /* comando para poder hacer que los dos botones esten lado a lado */
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 30px;
    max-width: 600px;
    margin: auto;
    justify-content: center;
}

.button-content a {
    color: #FFFFFF;
    background: linear-gradient(to bottom,#cb2525, #1e90ff);
    border-radius: 25px;
    outline: none;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    width: 300px;
    height: 100%;
    padding: auto;
    font-weight: 500; /* sirve para el grosor de las letras */
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5 ease-in-out;
    transform: translate(-2px, -2px);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.button-content a i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

a:hover {
    background: linear-gradient(to bottom, #1e90ff, #cb2525);
    color: #000000;
    -webkit-transition: all .5s ease-in-out;
    /* elevation Botton in the mouse */
    transform: translate(-8px, -8px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
}